* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 24px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1B81BC;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

main {
  width: 100%;
  max-width: 500px;
  background-color: #E5E5E5;
  border-radius: 48px;
  height: 260px;
  padding: 24px;
  box-shadow: 0 0 24px rgba(62, 62, 62, .2);
  background-color: #E5E5E5;
}

p {
  color: #111B1C;
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  padding: 16px 24px;
  border: none;
  border-radius: 48px;
  color: #E5E5E5;
  background-color: #1DA343;
  cursor:pointer;
  user-select:none;
}

button:hover {
  background-color: #85B592;
}